*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-grid{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    background-color: #D7D4FF;
    padding: 40px;
}

.header-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-style__info{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1rem;
        color: #555555;
    }

    button{
        width: 120px;
        height: 50px;
        color: white;
        background-color: #6c63ff;
        border-radius: 8px;
        border: none;
    }
}

.header-style__image{
    width: 400px;
    height: 250px;
    
    img{
        width: 100%;
        height: 100%;
    }
}

.main-style{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-style__cards{
    border: 1px solid rgba(0, 0, 0, 0.466);
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.177);
    

    div{
        height: 200px;
    }

    article{
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        padding: 20px
    }

    h3{
        font-size: 23px;
        font-weight: bold;
        }

    p{
        font-size: 13px;
        color: #555555;
        letter-spacing: 1px;
    }
}

.main-style__cards:hover{
    transform: scale(1.1);
    cursor: pointer;
}